.nav-1 a{
text-decoration: none;
color: black;
margin: 10px;
}
.nav-1 ul {
  list-style-type: none;
  display: flex;
  justify-content:space-around;
  padding: 15px;
  background-color: rgba(127, 255, 212, 0.723);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
h2{
  display: flex;
  justify-content: center;
  padding-top: 150px ;
  background-image: url(master.jpg);
  height: 300px;
  width: 500px;
  border-radius: 20%;
}
table{
  border: 5px solid rgb(7, 7, 36);
}
table tr td{
  border: 2px solid burlywood;
  border-collapse: collapse;
}
.master-2{
  height: 200px;
  float: right;
  margin-left: 18px;
  padding-top: 15px;
}